/*import fonts from fonts.css file*/


/*start navigation*/

.header_area .main-menu .navbar-nav .dropdown:hover > .dropdown-menu{
    display: block;
}
.header_area .main-menu .navbar-nav .dropdown .dropdown-menu{
    border: none;
}

/*end navigation*/

.navbar_fixed{
    position: fixed;
    width: 100%;
    top: -1px;
    left: 0;right: 0;
    background: #f1eeee;
    box-shadow: #6e6c6c;
    z-index: 999;
    transition: background 1s ease;
}